Pane{
    -fx-background-color: white;
}

AnchorPane{
    -fx-background-color: #52cc3f;
}

#croupier {
    -fx-background-image:url('../images/croupier.png');
}

#paquetDeCartes{
    -fx-background-image:url('../images/paquetdecartes.png');
}